body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.gridTopic {
    display: flex;
    gap: 20px;
    padding: 15px
}

.listTopic {
    width: 110px;
}

.createTopic {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: flex;
    background-color: white;
    border: 1px solid #464646;
    border-radius: 30px;
}

.createTopic h1 {
    font-size: 15px;
    color: #464646;
}

.plus {
    width: 16px;
    height: 16px;
    color: #464646;
    margin: 5px;
}